
body {
	background: #eee;
	margin: 0;
	/*box-sizing: border-box;*/
}

/*#main-box {
	width: 100%
	height:1000px;
}*/
#left {
	width: 200px;
	height: 120px;
	border: 1px solid #999;
	float: left;
	margin: 20px;
	background: blue;
	/*padding: 20px;*/
/*   padding: 20px;*/
}



#right {
	width: 120px;
	height: 420px;
	border: 1px solid #999;
	float: right;
	margin: 20px;
	background: red;
/*	padding: 20px;*/
}

.logo {
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	border: 1px solid #999;
	margin: 20px;
	background: #eee;

}
#center {
    position: relative;
    top: 20px;
	height: 600px;
	background: green;
	margin-left: 240px;
	margin-right: 160px;
	border: 1px solid #999;

}